/.idea/
.gradle/
target/
out/
build/
/bundles/
/jdk/
*.bak
*.iml
*.log
*.log.*
/*.yaml
/*.yaml-*
/*.bin
/*.txt
/*.html
/*.jnlp
/deployment-case/*.bin
.DS_Store
/.gitconfig
.directory
/src/main/resources/application.properties
/version
