/.idea/
.gradle/
target/
out/
build/
/bundles/
/jdk/
/gradle/wrapper/gradle-wrapper.jar
*.bak
*.iml
*.log
*.log.*
/*.yaml
/*.yaml-*
/*.bin
/*.txt
/*.html
/*.jnlp
/deployment-case/*.bin
.DS_Store
/.gitconfig
.directory
